<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hello Vue</h1>


    <div id="app">
        <h3  v-on:click="updateCounter()">{{ message }}</h3>
        <h5>{{ counter }}</h5>
    </div>


    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            // template:'<span>1 + 2 = {{ 1 + 2 }}</span>',
            data: {
                counter: 0,
                message: 'Ala ma kota'
            },
            methods: {
                updateCounter() {
                    this.counter++
                }
            }
        })

    </script>
</body>

</html>