<template>
  <div class="row">
    <div class="col">
      <SearchField class="awesome" v-model="query_filter" placeholder="Search Playlists" />
      <PlaylistsList :items="filtered" :selected="selected" @selected="select($event)" />
      {{selected && selected.name}}
    </div>

    <div class="col">
      <template v-if="selected">
        <Card v-if="mode == Modes.show">
          <template v-slot:title>{{selected.name}}</template>

          <PlaylistDetails :playlist="selected" @edit="edit" />
        </Card>

        <Card v-if="mode == Modes.edit">
          <PlaylistForm :playlist="selected" @cancel="cancel" @save="save" />
          <template v-slot:footer>Test</template>
        </Card>
      </template>
      <template v-else>Please select playlist</template>
    </div>
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ItemsList from "../components/ItemsList.vue";
import PlaylistDetails from "../components/PlaylistDetails.vue";
import PlaylistForm from "../components/PlaylistForm.vue";
import { Playlist } from "@/models/Playlist";
import SearchField from "../components/SearchField.vue";
import { mapGetters, mapActions } from "vuex";

enum Modes {
  edit = "edit",
  show = "show"
}

@Component({
  components: {
    PlaylistsList: ItemsList,
    PlaylistDetails,
    PlaylistForm,
    SearchField
  },
  computed: {
    ...mapGetters(["filtered", "selected", "query"])
  },
  methods: {
    ...mapActions({
      select: "selectPlaylist",
      savePlaylist: "savePlaylist",
      filterPlaylists: "filterPlaylists"
    })
  }
})
export default class PlaylistsView extends Vue {
  Modes = Modes;
  mode: Modes = Modes.show;
  query!: string;
  filterPlaylists!: (query: string) => void;

  get query_filter() {
    return this.query;
  }

  set query_filter(query: string) {
    this.filterPlaylists(query);
  }

  edit() {
    this.mode = Modes.edit;
  }

  cancel() {
    this.mode = Modes.show;
  }

  savePlaylist!: (p:any) => void;

  save(draft: Playlist) {
    this.savePlaylist(draft)
    this.mode = Modes.show
  }
}
</script>
