<template>
  <!-- /docs/4.3/components/navbar/#nav -->
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link class="navbar-brand" :exact="true" active-class="active" to="/">MusicApp</router-link>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" :to="{name:'playlists'}">Playlists</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/music">Music</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import "bootstrap/dist/css/bootstrap.css";
import Vue from "vue";
import PlaylistsView from "./views/Playlists.vue";
import MusicSearchView from "./views/MusicSearch.vue";
import Counter from "./views/Counter.vue";

export default Vue.extend({
  components: {
    // PlaylistsView: PlaylistsView
    PlaylistsView,
    MusicSearchView,
    Counter
  }
});
</script>
